body {
    background-color: #3498db;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1e5799;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  .color{
    background-color: rgba(13, 13, 234, 0.891);
  }